@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  /* overflow: hidden; */
}

.header {
  background-color: antiquewhite;
  width: 1171px;
  margin: 0 auto;
}

.header-top {
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 97px;
}

.header-top>* {
  border: 2px solid #000;
}

.header-top {}

.header-top-nav {
  display: flex;
  align-items: center;
}

.header-top-nav a {
  margin-right: 50px;
}
.header-top-logo {}


.header-top-adress {
  display: flex;
  align-items: center;
}

.header-top-proffile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top-proffile-bastet {
  margin-right: 10px;
  border: 2px solid #fff;
  position: relative;
}

.header-top-proffile-bastet-value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C62CD;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  width: 20px;
  height: 20px;
  border-radius: 90px;
  position: absolute;
  bottom: 0px;
  right: -14px;
}
