@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
}

.header {
  background-color: antiquewhite;
  width: 1171px;
  height: 153px;
  margin: 0 auto;
}